<h3> <small>Вы прошли тест</small> "   <%= @online_test.title %>  " <small> со следующими результатами</small> </h3>
<table class = 'table table-striped table-bordered table-hover"'>
  <thead>
  <tr>
    <th>
      Количество вопросов
    </th>
    <th>
      Количество правильных вопросов
    </th>
    <th>
      Количество неправильныx вопросов
    </th>
    <th>
      Процент правильности
    </th>

  </tr>

  </thead>
  <tbody>
  <tr>
    <td class = "stat">
      <%= @total %>
    </td>
    <td class = "stat">
      <%= @correct %>
    </td>
    <td class = "stat">
      <%= @wrong %>
    </td>
    <td class = "stat">
      <%= @percent %> %
    </td>
  </tr>

  </tbody>
</table>