<p id="notice"><%= notice %></p>

<p>
  <%= @question.title %>
</p>

<h2>Варианты ответов</h2>

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Текст ответа</th>
    <th >Правильность</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @question.answers.each do |answer| %>
      <tr>
        <td><%= answer.text %></td>

        <td><%= check_box_tag '', '', answer.is_correct , disabled: true%></td>
        <td><%= link_to 'Show', [:admin,@online_test, answer.question, answer ] %></td>
        <td><%= link_to 'Edit', edit_admin_online_test_question_answer_path(@online_test,@question, answer) %></td>
        <td><%= link_to 'Destroy', [:admin, @online_test,  answer.question, answer],
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="panel panel-default">
	  <div class="panel-heading">Добавить ответы:</div>
	  <div class="panel-body">
      <%= form_for([:admin, @online_test, @question, @question.answers.build], html:{class:"form-inline"}) do |f| %>
          <div class="form-group">
            <%= f.label :text, "Текст" , class:"sr-only" %>
            <%= f.text_field :text, class:"form-control", placeholder:"Текст ответа" %>
          </div>
         <div class="checkbox">
            <label><%= f.check_box :is_correct %>Правильный </label>
          </div>
          <%= f.submit "Добавить",  class:"btn " %>
      <% end %>
	  </div>
</div>



<%= link_to 'Back', admin_online_tests_path %>
